.projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px; /* For the divide effect */
    height: 75vh;
  }
  
  .projectColumn {
    width: 100%;
    background-color: lightgray;
  }