@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-paper text-ink antialiased;
}

.lined {
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent calc((1.25 * 1em) - 1px),
    #000 calc((1.25 * 1em) - 0.5px),
    #000 calc((1.25 * 1em) + 0.5px)
  );
}

.handles {
  border: 1px solid #000;
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
}

.rail {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.rail::-webkit-scrollbar {
  height: 8px;
}

.rail::-webkit-scrollbar-thumb {
  background: #000;
}

.rail::-webkit-scrollbar-track {
  background: transparent;
}
