@tailwind base;
@tailwind components;
@tailwind utilities;

.handles {
  border: solid;
  border-width: 1px;
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  z-index: 10;
}

button {
  all: unset;
  border: 0.05em solid #888;
  background-color: #000;
  color: #fff;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  text-align: center;
  cursor: pointer;
}

/* breakpoints
640px
768px
1024px
1280px
1536px */

/* Define a CSS class for the background image */
.custom-bg {
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent calc((1.25 * 1em) - 1px),
    #000 calc((1.25 * 1em) - 0.5px),
    #000 calc((1.25 * 1em) + 0.5px)
  );
}


h1 {
  font-size: 2.25rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.3125rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 5.5rem;
  }
}


h2 {
  font-size: 1.35rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  h2 {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 1.575rem;
  }
}

h3 {
  font-size: 1.875rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  h3 {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.3125rem;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 3.125rem;
  }
}